@model HomeViewModel
@{

}
 
<main>
    <!-- main-slider-->
    <section id="main-slider">
        <!-- slick-progress -->
        <div class="slick-progress ">
            <span class="active" style="transition-duration: 6s;"></span>
        </div>
        <!-- slick-progress-end -->
        <div class="home-carousel main-theme">
            @foreach (var item in Model.MainBanners)
            {
                <div class="slider">
                    <div class="slider-one" style="background: url('~/../../uploads/@item.Photo')no-repeat center center /cover">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider-context ">
                                        <p class="fadeInDown animated" data-animation-in="fadeInDown">@item.Title</p>
                                        <h2 class="animated  fadeInLeft" data-animation-in="fadeInLeft" data-delay-in="1">@item.SubTitle</h2>
                                        <h4 class="animated fadeInRight" data-animation-in="fadeInRight" data-delay-in="2">@item.Content</h4>
                                        <button class="btn primary-btn btn-theme1 lrg-btn animated zoomIn" data-animation-in="zoomIn" data-delay-in="3">@item.Link</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <!-- main-slider-end-->
    <!-- common banner  start -->
    <div class="common-banner padding-head-foot ">
        <div class="container bg-clr">
            <div class="row">
                @foreach (var item in Model.PromoBanners)
                {<div class="col-md-6">
                        <div class="position-relative zoom-in overflow-hidden">
                            <div class="banner-thumb img-fluid">
                                <img src="~/uploads/@item.Photo" alt="banner-thumb-naile">
                            </div>
                            <div class="banner-content">
                                <p class="text text-capitalize text-dark mb-10">@item.Title</p>
                                <h4 class="title text-capitalize text-dark">@item.Content</h4>
                                <a class="view-link text-capitalize mt-20" href="#">
                                    @item.Link
                                    <span class="fas fa-chevron-circle-right theme-color"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- common banner  end -->
    <!-- product tab start -->
    <section class="product-tab padding-head-foot ">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="head-title text-center">
                        <h2 class="title text-dark text-capitalize">Best Sellers</h2>
                        <p class="text">Browse the collection of our new products.</p>
                    </div>
                    <nav class="product-tab-menu styling padding-head-foot">
                        <ul class="nav nav nav-pills justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">@Model.Categories.ElementAt(0).Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">@Model.Categories.ElementAt(1).Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">@Model.Categories.ElementAt(2).Name</a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="product-tab-slider">
                                <partial name="_product" model="@Model.BestSelProducts" />
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="product-tab-slider">
                                <partial name="_product" model="@Model.BestSelProducts" />
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="product-tab-slider">
                                <partial name="_product" model="@Model.BestSelProducts" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product tab end -->
    <!-- Featured Products start -->
    <section class="featured-products panel-default ">
        <div class="container">
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="head-title text-center mb-30">
                            <h2 class="title text-dark text-capitalize">Featured Products</h2>
                            <p class="text mt-20">
                                Browse the collection of our featured products.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="feature-slider bg-white">
                            <partial name="_product" model="@Model.FeaturedProducts" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Featured Products end -->
    <!-- Testimonial-slider start -->
    <section class="testimonial-section padding-head-foot">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonial-init bg-main">
                        @foreach (var item in Model.Testimonials)
                        {
                            <div class="testimonial-content text-center">
                                <img class="mx-auto border-radius" src="~/uploads/@item.Photo" alt="user">
                                <p> @item.Info </p>
                                <span class="fas fa-quote-left"></span>
                                <h4 class="text-uppercase mb-15">@item.Fullname</h4>
                                <a class="text-capitalize" href="mailto: @item.Email" tabindex="0">@item.Email</a>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial-slider end -->
    <!-- New Productss start -->
    <section class="new-product  panel-default padding-head-foot">
        <div class="container">
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="head-title text-center mb-30">
                            <h2 class="title text-dark text-capitalize">New Products</h2>
                            <p class="text mt-20">
                                Browse the collection of our new products.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="new-products bg-white">
                            <partial name="_product" model="@Model.NewProducts" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- New Products end -->
    <!-- common banner single large start -->
    <div class="common-banner padding-head-foot ">
        <div class="container ">
            <div class="row">
                <div class="col-md-12">
                    <div class="position-relative zoom-in overflow-hidden">
                        <div class="banner-thumb">
                            <img  src="~/uploads/@Model.DiscountBanner.Photo" alt="banner-thumb-naile">
                        </div>
                        <div class="banner-content banner-context">
                            <p class="text text-uppercase text-dark mb-10">@Model.DiscountBanner.Title</p>
                            <h4 class="title text-capitalize text-dark">@Model.DiscountBanner.Content</h4>
                            <a class="view-link text-capitalize mt-20" href="#">
                                @Model.DiscountBanner.Link
                                <span class="fas fa-chevron-circle-right theme-color"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- common banner single large end -->
    <!-- blog-section start -->
    <section class="blog-section padding-head-foot ">
        <div class="container position-relative">
            <div class="row">
                <div class="col-12">
                    <div class="head-title text-center mb-30">
                        <h2 class="title text-dark text-capitalize">Latest Blogs</h2>
                        <p class="text mt-20">
                            Present posts in a best way to highlight interesting moments of your blog.
                        </p>
                    </div>
                </div>
            </div>
            <div class="new-blog-carousel bg-white">
                @foreach (var item in Model.NewBlogs)
                {
                    <div class="slider">
                        <div class="container">

                            <div class="row">
                                <div class="col-12">
                                    <div class="blog-card">
                                        <div class="blog-card__image zoom-in overflow-hidden">
                                            <img src="~/uploads/@item.Photo">
                                        </div>
                                        <div class="blog-card__title">
                                            <p>@item.Name</p>
                                        </div>
                                        <h5 class="sub-title mb-30 text-capitalize">
                                            Posted by
                                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                                @item.Author
                                            </a> @item.Date
                                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                                @item.Subject
                                            </a>
                                        </h5>
                                        <a class="btn primary-btn btn-theme1 text-capitalize" href="single-blog.html" tabindex="0">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>



    </section>
    <!-- blog-section end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" model="@Model.Subscriber" />
    <!-- common banner news-letter end -->
    <!-- product quick view modal start -->
    <div class="modal fade theme1 style1" id="quick-view">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</main>

@section Javascript{ 

    <script src="~/Assets/js/slick-animation.min.js"></script>
    <script src="~/Assets/js/Sliders.js"></script>
}