@model CartViewModel
@if (Model != null)
{
    <div class="inner">
        <div class="head d-flex flex-wrap justify-content-between">
            <span class="title">Cart</span>
            <button class="offcanvas-close">×</button>
        </div>
        <ul class="minicart-product-list">
            @foreach (var item in Model.CartItems)
            {
                <li id="@item.Id">
                    <a asp-controller="Product"  asp-action="productSingle" asp-route-id="@item.Id" class="image"><img src="/Assets/img/@item.Photo" alt="Cart product Image"></a>
                    <div class="content">
                        <a asp-controller="Product"  asp-action="productSingle" asp-route-id="@item.Id" class="title">@item.Name</a>
                        <span class="quantity-price">@item.Quantity x <span class="amount ">@item.Price.ToString("C2")</span></span>
                        <a data-id="@item.Id" asp-controller="Shop" asp-action="Remove" asp-route-id="@item.Id" class="remove">×</a>
                    </div>
                </li>
            }
            <li>Free Shipping on All Orders !</li>
        </ul>
        <div class="mt-5 sub-total d-flex flex-wrap justify-content-between">
            <strong>Subtotal :</strong>
            <span class="amount text-success font-weight-bold">@Model.GrandTotal.ToString("C2")</span>

        </div>
        <a asp-controller="Shop" asp-action="cart" class="btn btn-middl primary-btn btn-theme1 text-uppercase">
            view
            cart
        </a>
        <a asp-controller="Account" asp-action="chekout" class="btn btn-middl primary-btn btn-theme1 text-uppercase">checkout</a>
    </div>
}
else
{
<div class="inner">
    <div class="head d-flex flex-wrap justify-content-between">
        <span class="title">Cart</span>
        <button class="offcanvas-close">×</button>
    </div>
    <ul class="minicart-product-list">
        <li>Your Cart is empty</li>
    </ul>
</div>
}  