@model CartViewModel
@if (Model != null)
{
    <div class="col-lg-3 mb-30">
        <ul class="list-group cart-summary">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <ul class="items">
                    @foreach (var item in Model.CartItems)
                    {
                        <li id="@item.Id">
                            <a class="image"><img class="chekout-images" src="~/uploads/@item.Photo" alt="Cart product Image"></a>
                            <div class="content">
                                <a class="title">@item.Name</a>
                                <span class="quantity-price">@item.Quantity x <span class="amount ">@item.Price.ToString("C2")</span></span>
                            </div>
                        </li>

                    }
                </ul>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <ul class="items">
                    <li>Total</li>
                </ul>
                <ul class="amount">
                    <li class="amount text-success font-weight-bold">@Model.GrandTotal.ToString("#.##") </li>
                </ul>
            </li>
            <li  class="list-group-item text-center">
                <a id="proceed" asp-controller="Account" asp-action="ProceedAsync" class="btn third-btn btn-theme2 d-none">Proceed to checkout</a>
            </li>
        </ul>

        <div class="delivery-info">
            <ul>
                <li>
                    <i class="fas fa-shield-alt"></i> Security policy (edit with Customer reassurance module)
                </li>
                <li>
                    <i class="fas fa-truck"></i> Delivery policy (edit with Customer reassurance module)
                </li>
                <li class="mb-0">
                    <i class="fas fa-exchange-alt"></i> Return policy (edit with Customer reassurance module)
                </li>
            </ul>
        </div>
    </div>
}

else
{
<div class="col-lg-3 mb-30">
    <ul class="list-group cart-summary">
    </ul>

    <div class="delivery-info">
        <ul>
            <li>
                <i class="fas fa-shield-alt"></i> Security policy (edit with Customer reassurance module)
            </li>
            <li>
                <i class="fas fa-truck"></i> Delivery policy (edit with Customer reassurance module)
            </li>
            <li class="mb-0">
                <i class="fas fa-exchange-alt"></i> Return policy (edit with Customer reassurance module)
            </li>
        </ul>
    </div>
</div>
}

