@model CompareViewModel
<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs" model="@Model.Breadcrumb" />
    <!-- breadcrumb-section end -->
    <!-- compare start -->
    <section class="compare-section shop-order top-margin">
        <div class="container grid-wraper">
            <div class="row">
                <div class="col-12">
                    <h3 class="title text-center text-md-left text-capitalize">compare</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-dark" scope="col">product info</th>
                                    @foreach (var item in Model.CompareProducts)
                                    {

                                        @foreach (var p in item.Products)
                                        {
                                <th scope="col" class="text-center">
                                    <img src="/Assets/img/@p.ProductPhotos.ElementAt(0).Photo" alt="img">

                                    <span class="sub-title d-block">@p.Name</span>
                                    @if (@p.Stock.Quantity > 0)
                                    {
                                        <a href="cart.html" class="btn third-btn btn-theme2 text-uppercase"> add to cart</a>
                                    }
                                    else
                                    {
                                        <a href="cart.html" class="btn d-none third-btn btn-theme2 text-uppercase"> add to cart</a>
                                    }

                                    <a href="cart.html" class="btn third-btn btn-theme2 text-uppercase"> Remove</a>
                                </th>
                                        }

                                    }

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Price
                                    </th>

                                    @foreach (var item in Model.CompareProducts)
                                    {

                                        @foreach (var p in item.Products)
                                        {
                                            <td class="text-center">
                                                <span class="whish-list-price">
                                                    @p.Stock.Price $
                                                </span>
                                            </td>
                                        }

                                    }


                                </tr>
                                <tr>
                                    <th scope="row">
                                        Description
                                    </th>

                                    @foreach (var item in Model.CompareProducts)
                                    {

                                        @foreach (var p in item.Products)
                                        {
                                            <td class="text-center">
                                                <p>@p.Description</p>
                                            </td>
                                        }

                                    }


                                </tr>
                                <tr>
                                    <th scope="row">
                                        Availability
                                    </th>

                                    @foreach (var item in Model.CompareProducts)
                                    {
                                        @foreach (var p in item.Products)
                                        {
                                            <td class="text-center">
                                                @if (@p.Stock.Quantity > 0)
                                                {
                                                    <span class="badge  position-static my-badge">In Stock</span>

                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger position-static my-badge">Out Stock</span>
                                                }
                                            </td>
                                        }
                                    }


                                </tr>
                                <tr>
                                    <th scope="row">
                                        weight
                                    </th>

                                    @foreach (var item in Model.CompareProducts)
                                    {
                                        @foreach (var p in item.Products)
                                        {
                                            <td class="text-center">
                                                @p.Dimension
                                            </td>
                                        }
                                    }

                                </tr>
                                <tr>
                                    <th scope="row">
                                        colors
                                    </th>

                                    @foreach (var item in Model.CompareProducts)
                                    {
                                        @foreach (var p in item.Products)
                                        {
                                            <td class="text-center">
                                                @p.Color
                                            </td>
                                        }
                                    }

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- compare end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" model="@Model.Subscriber" />
    <!-- common banner news-letter end -->
</main>