@model CompareViewModel
<main>
     @*breadcrumb-section start*@ 
    <partial name="_breadcrumbs" model="@Model.Breadcrumb" />
     @*breadcrumb-section end 
     compare start*@ 
    <section class="compare-section shop-order top-margin">
        <div class="container grid-wraper">
            <div class="row">
                <div class="col-12">
                    <h3 class="title text-center text-md-left text-capitalize">compare</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-dark" scope="col">product info</th>
                                    @foreach (var item in Model.CompareItems)
                                    {

                                <th scope="col" class="text-center">
                                    <img src="/Assets/img/@item.Photo" alt="img">

                                    <span class="sub-title d-block">@item.Name</span>
                                    @if (@item.Quantity > 0)
                                    {
                                        <a asp-action="AddFromCompareToCart" asp-route-id="@item.Id" class="btn third-btn btn-theme2 text-uppercase"> add to cart</a>
                                    }
                                    else 
                                    {
                                        <a asp-action="AddFromCompareToCart" asp-route-id="@item.Id" class="btn d-none third-btn btn-theme2 text-uppercase"> add to cart</a>
                                    }

                                    <a asp-controller="Product" asp-action="RemoveFromCompare" asp-route-id="@item.Id" class="btn third-btn btn-theme2 text-uppercase"> Remove</a>
                                </th>
                                        
                                    }

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        Price
                                    </th>

                                    @foreach (var item in Model.CompareItems)
                                    {

                       
                                            <td class="text-center">
                                                <span class="whish-list-price">
                                                    @item.Price $
                                                </span>
                                            </td>
                                        

                                    }


                                </tr>
                                <tr>
                                    <th scope="row">
                                        Description
                                    </th>

                                    @foreach (var item in Model.CompareItems)
                                    {
                                        <td class="text-center">
                                            <p>@item.Description</p>
                                        </td>

                                    }


                                </tr>
                                <tr>
                                    <th scope="row">
                                        Availability
                                    </th>

                                    @foreach (var item in Model.CompareItems)
                                    {
                                        <td class="text-center">
                                            @if (@item.Quantity > 0)
                                            {
                                                <span class="badge  position-static my-badge">In Stock</span>

                                            }
                                            else
                                            {
                                                <span class="badge badge-danger position-static my-badge">Out Stock</span>
                                            }
                                        </td>
                                    }


                                </tr>
                                <tr>
                                    <th scope="row">
                                        weight
                                    </th>

                                    @foreach (var item in Model.CompareItems)
                                    {
                                        <td class="text-center">
                                            @item.Dimention
                                        </td>
          
                                    }

                                </tr>
                                <tr>
                                    <th scope="row">
                                        colors
                                    </th>

                                    @foreach (var item in Model.CompareItems)
                                    {
                                        <td class="text-center">
                                            @item.Color
                                        </td>

                                    }

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
     @*compare end 
     common banner news-letter end*@ 
    <partial name="_newsletters" model="@Model.Subscriber" />
     @*common banner news-letter end*@ 
</main>