@model ProductSingleViewModel
<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs" model="@Model.Breadcrumb" />
    <!-- breadcrumb-section end -->
    <!-- single Product start -->
    <section class="product-single theme1 ">
        <div class="container grid-wraper">
            <div class="row">
                <div class="col-md-9 mx-auto col-lg-6 mb-5 mb-lg-0">
                    <div class="prod-div">
                        <div class="position-relative">
                            @if (Model.ProductSingle.IsNew)
                            {
                                <span class="badge badge-dangers top-left">New</span>
                            }
                            else
                            {
                                <span class="badge bg-dark top-left">@Model.ProductSingle.Discount%</span>
                            }
                        </div>
                        <div class="product-sync-init">
                            @foreach (var item in Model.ProductSingle.ProductPhotos)
                            {
                                <div class="single-product ">
                                    <div class="product-thumb">
                                        <img src="~/uploads/@item.Photo" alt="product-thumb">
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="product-sync-nav d-flex justify-content-center">
                            @foreach (var item in Model.ProductSingle.ProductPhotos)
                            {
                                <div class="single-product ">
                                    <div class="product-thumb">
                                        <a> <img src="~/uploads/@item.Photo" class="img-fill" alt="product-thumb"></a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5 mt-md-0">
                    <div class="single-product-info">
                        <div class="single-product-head">
                            <h2 class="title ">@Model.ProductSingle.Name</h2>
                            <div class="star-content ">
                                @for (int i = 0; i < Model.ProductSingle.Star; i++)
                                {
                                    <span class="star-on"><i class="fas fa-star"></i> </span>
                                }
                                <a href="#" id="write-comment">
                                    <span class="ml-2"><i class="far fa-comment-dots"></i></span>
                                    Read reviews <span>(@Model.ProductSingle.Reviews.Count())</span>
                                </a>
                                <a>
                                    <span class="edite eventDetails"><i class="far fa-edit"></i></span> Write a
                                    review
                                </a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="d-flex align-items-center border-bottom pad-marg-b">
                                <h6 class="product-price">
                                    @if (Model.ProductSingle.IsNew)
                                    {
                                        <span class="onsale">$@Model.ProductSingle.Stock.Price</span>
                                    }
                                    else
                                    {
                                        double disc = Convert.ToDouble(@Model.ProductSingle.Stock.Price)
                                            + (Convert.ToDouble(@Model.ProductSingle.Stock.Price)
                                            * Convert.ToDouble(@Model.ProductSingle.Discount)) / 100;
                                        <del class="del"> $@disc.ToString("#.##")</del>
                                        <span class="onsale">$@Model.ProductSingle.Stock.Price</span>
                                        <span class="badge my-badge position-static bg-dark">Save @Model.ProductSingle.Discount%</span>
                                    }
                                </h6>
                                @*<h6 class="product-price">
                                    <del class="del">$23.90</del>
                                    <span class="onsale">@Model.ProductSingle.Stock.Price</span>
                                </h6>*@
                              
                            </div>
                            <p class="line-hight">
                                @Model.ProductSingle.Description
                            </p>

                        </div>
                        <div class="product-footer">
                            <div class="product-count style d-flex flex-column flex-sm-row mt-3 mb-3">
                                <div class="product-count style">
                                    @*<div class="count d-flex justify-content-center">
                                            @if (@Model.ProductSingle.Stock.Quantity > 0)
                                            {
                                                <input type="number" min="0" max="@Model.ProductSingle.Stock.Quantity" step="1" value="0" readonly>
                                                <div class="button-group">
                                                    <a asp-controller="Shop" asp-action="Add" asp-route-id="@Model.ProductSingle.Id" class="count-btn increment "><i class="fas fa-chevron-up mt-2"></i></a>
                                                    <a asp-controller="Shop" asp-action="Decrease" asp-route-id="@Model.ProductSingle.Id" class="count-btn decrement "><i class="fas fa-chevron-down mt-2"></i></a>
                                                </div>
                                            }
                                            else
                                            {
                                                <input class="" type="number" min="0" max="0" step="1" value="0" readonly>
                                                <div class="button-group">
                                                    <a class="count-btn increment "><i class="fas fa-chevron-up mt-2"></i></a>
                                                    <a class="count-btn decrement "><i class="fas fa-chevron-down mt-2"></i></a>
                                                </div>
                                            }
                                        </div>*@
                                </div>
                                <div>
                                    <a asp-controller="Shop" asp-action="Add" asp-route-id="@Model.ProductSingle.Id" data-id="@Model.ProductSingle.Id" class="btn btn-theme2  text-uppercase my-btn">
                                        <span class="mr-2"><i class="fas fa-suitcase"></i></span>
                                        Add to cart
                                    </a>
                                </div>
                            </div>
                            <div class="addto-whish-list">
                                <a asp-controller="Shop" asp-action="AddToWish" asp-route-id="@Model.ProductSingle.Id" data-id="@Model.ProductSingle.Id"><i class="far fa-heart"></i> Add to wishlist</a>
                                <a asp-controller="Product" asp-action="AddToCompare" asp-route-id="@Model.ProductSingle.Id" data-id="@Model.ProductSingle.Id"><i class="fas fa-random"></i> Add to compare</a>
                            </div>
                            @*<div class="pro-social-links">
                                <ul class="d-flex align-items-center">
                                    <li class="share">Share</li>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>*@
                        </div>
                        <div class="block-reassurance ">
                            <ul>
                                <li>
                                    <i class="fas fa-shield-alt"></i><span>Security policy (edit with Customer reassurance module)</span>
                                </li>
                                <li>
                                    <i class="fas fa-truck"></i> <span>Delivery policy (edit with Customer reassurance module)</span>
                                </li>
                                <li>
                                    <i class="fas fa-exchange-alt"></i> <span>Return policy (edit with Customer reassurance module)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tab Product start -->
    <section class="tab-product padding-head-foot">
        <div class="container">
            <ul class="tabs d-flex justify-content-center">
                <li class="active" data-target="panel-1">
                    Description
                </li>
                <li data-target="panel-2">
                    Product Details
                </li>
                <li data-target="panel-3">
                    Reviews
                </li>
            </ul>
            <div class="tabs-content">
                <div class="tabs-panel active" id="panel-1">
                    <ul>
                        <li>
                            @Model.ProductSingle.Description
                        </li>
                    </ul>
                </div>
                <div class="tabs-panel" id="panel-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                @if (@Model.ProductSingle.Color != null)
                                {
                                    <th scope="col">Color</th>
                                }
                                @if (@Model.ProductSingle.Size != null)
                                {
                                    <th scope="col">Size</th>
                                }
                                @if (@Model.ProductSingle.Dimension != null)
                                {
                                    <th scope="col">Frame Size</th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (@Model.ProductSingle.Color != null)
                                {
                                    <td> @Model.ProductSingle.Color</td>
                                }
                                @if (@Model.ProductSingle.Size != null)
                                {
                                    <td> @Model.ProductSingle.Size</td>
                                }
                                @if (@Model.ProductSingle.Dimension != null)
                                {
                                    <td> @Model.ProductSingle.Dimension</td>
                                }


                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabs-panel" id="panel-3">
                    <div class="grade-content">
                        <div class="container">
                            <div class="comment-list">
                                <div class="details text-uppercase"></div>
                                <div class="eventDetails mt-5">
                                    @foreach (var item in Model.ProductSingle.Reviews)
                                    {
                                        <h4 class="sub-title">@item.Fullname</h4>
                                        <span>@item.AddedDate.Date.ToString("dd MMM , yyyy")</span>
                                        <p>
                                            @item.Message
                                        </p>
                                    }
                                </div>
                            </div>
                            <button type="button" class="btn third-btn btn-theme2 mt-5" data-toggle="modal" data-target="#form">
                                Write your review !
                            </button>
                        </div>
                        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-bottom-0">
                                        <h5 class="modal-title" id="exampleModalLabel">Your Review</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <form id="product-rate">
                                        <div class="modal-body">
                                            <div class="container">
                                                <label>Rate Now</label>
                                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                                    <input type="radio" id="star5" asp-for="@Model.Review.Rate" value="5" /><label for="star5" title="5 star"></label>
                                                    <input type="radio" id="star4" asp-for="@Model.Review.Rate" value="4" /><label for="star4" title="4 star"></label>
                                                    <input type="radio" id="star3" asp-for="@Model.Review.Rate" value="3" /><label for="star3" title="3 star"></label>
                                                    <input type="radio" id="star2" asp-for="@Model.Review.Rate" value="2" /><label for="star2" title="2 star"></label>
                                                    <input type="radio" id="star1" asp-for="@Model.Review.Rate" value="1" /><label for="star1" title="1 star"></label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@Model.Review.Fullname">Fullname</label>
                                                <input type="text" class="form-control" asp-for="@Model.Review.Fullname" placeholder="Enter Fullname">
                                                <span asp-validation-for="@Model.Review.Fullname" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@Model.Review.Email">Email address</label>
                                                <input class="form-control" asp-for="@Model.Review.Email" placeholder="Enter email">
                                                <span asp-validation-for="@Model.Review.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@Model.Review.Message">Message</label>
                                                <textarea class="form-control" asp-for="@Model.Review.Message" ></textarea>
                                            </div>
                                        </div>
                                        <div class=" modal-footer border-top-0 d-flex justify-content-center">
                                            <button type="submit" class="btn btn-success">Add Review</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tab Product end -->
    <!-- single Product end -->
    <!-- Featured Products start -->
    <section class="featured-products panel-default padding-head-foot">
        <div class="container">
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="head-title text-center mb-30">
                            <h2 class="title text-dark text-capitalize">You Might Also Like</h2>
                            <p class="text mt-20">
                                Add Related products to weekly line up
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="feature-slider bg-white">
                            <partial name="_product" model="@Model.LikeProducts" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Featured Products end -->
    <!-- Featured Products start -->
    <section class="featured-products panel-default padding-head-foot">
        <div class="container">
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="head-title text-center mb-30">
                            <h2 class="title text-dark text-capitalize">@Model.SameCategoryProducts.Count() Other Products In The Same Category</h2>
                            <p class="text mt-20">
                                other products in the same category:
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="feature-slider bg-white">
                            <partial name="_product" model="@Model.SameCategoryProducts" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Products end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" model="@Model.Subscriber" />
    <!-- common banner news-letter end -->
    <!-- product quick view modal start -->
    <div class="modal fade theme1 style1" id="quick-view">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</main>


@section Javascript{
    <script src="~/Assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Assets/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/Assets/js/slick-animation.min.js"></script>
    <script src="~/Assets/js/Sliders.js"></script>
    <script>
        $(':radio').change(function () {
            console.log('New star rating: ' + this.value);
        });

        $(document).ready(function () {
            var showText = 'View reviews',
                hideText = 'Hide reviews';

            $('.eventDetails').hide().prev('.details').append('<a href="#" class="btn secondary-btn btn-theme2 toggleLink ">' + showText + '</a>');

            $('a.toggleLink').click(function (e) {
                e.preventDefault();
                var is_visible = $(this).closest('.details').next('.eventDetails').is(':visible');
                $(this).html(is_visible ? showText : hideText).parent().next('.eventDetails').slideToggle('slow');
            });
        });

        $(document).ready(function () {
            $('#product-rate').submit(function (e) {
                e.preventDefault();

                let formData = {
                            rate: $(this).find("input[name='Review.Rate']").val(),
                            fullname: $(this).find("input[name='Review.Fullname']").val(),
                            email: $(this).find("input[name='Review.Email']").val(),
                            message: $(this).find("textarea[name='Review.Message']").val(),
                            productId: window.location.pathname.split('/').pop()
                };
                $.ajax({
                    url: "/Product/ProductReview",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (res) {
                    },
                    error: function (err) {
                        if (err.status === 404) {
                            swal("Notice!", err.responseJSON.message);
                        }
                        else if (err.status === 400) {
                            swal("Notice!", err.responseJSON.message);
                        }
                        else if (err.status === 500) {
                            Swal.fire({
                                icon: 'error',
                                title: 'ERROR',
                                text: 'Some of inputs is empty',
                                footer: 'Please enter information correctly!',

                            })
                        }
                    },
                    complete: function (status) {
                        if (status.status === 200) {
                            Swal.fire({
                                position: 'top-center',
                                icon: 'success',
                                title: status.responseJSON.message,
                                showConfirmButton: false,
                                timer: 3500
                            });
                            $("#product-rate").trigger("reset");
                        }

                    }
                });
            });
        });
    </script>

}