@model AboutUsViewModel
<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs" model="@Model.Breadcrumb"/>
    <!-- breadcrumb-section end -->
    <!-- about section start -->
    <section class="about-section ">
        <div class="container about-wrapper">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="about-content">
                        <h2 class="title">@Model.AboutUs.Title</h2>
                        <p class="text1">
                            @Model.AboutUs.Text
                       </p>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="about-left-image">
                        <img src="/Assets/img/@Model.AboutUs.Photo" alt="img" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="row marg-top">
                @foreach (var item in Model.Abouts)
                {
                    <div class="col-md-4 ">
                        <div class="about-info">
                            <h4 class="title ">@item.Title</h4>
                            <p class="text1">
                                @item.Text
                            </p>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- about section end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" model="@Model.Subscriber"/>
    <!-- common banner news-letter end -->
</main>

