@model CartViewModel

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @*breadcrumb-section start*@
    <partial name="_breadcrumbs" model="@Model.Breadcrumb" />
    @*breadcrumb-section end*@
    @*//  shop-order start*@
    <section class="shop-order wrapper-top">
        <div class="container grid-wraper">
            <div class="row">
                <div class="col-12">
                    <h3 class="title text-center text-md-left text-capitalize">Your cart items</h3>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center" scope="col">Product Image</th>
                                    <th class="text-center" scope="col">Product Name</th>
                                    <th class="text-center" scope="col">Stock Status</th>
                                    <th class="text-center" scope="col">Qty</th>
                                    <th class="text-center" scope="col">Price</th>
                                    <th class="text-center" scope="col">action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr>
                                        <th class="text-center" scope="row">
                                            <img src="~/uploads/@item.Photo  " alt="img" class="img-fluid">
                                        </th>
                                        <td class="text-center">
                                            <span class="whish-title">@item.Name</span>
                                        </td>
                                        <td class="text-center">
                                            @if (@item.ProdQuantity > 0)
                                            {
                                                <span class="badge  position-static my-badge">In Stock</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger position-static my-badge">Out Stock</span>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <div class="product-count style">
                                                <div class="count d-flex justify-content-center">
                                                    @if (@item.ProdQuantity > 0)
                                                    {
                                                        <input type="number" min="@item.Quantity" max="@item.ProdQuantity" step="1" value="@item.Quantity" readonly>
                                                        <div class="button-group">
                                                            <a asp-action="Add" asp-route-id="@item.Id" class="count-btn increment "><i class="fas fa-chevron-up mt-2"></i></a>
                                                            <a asp-action="Decrease" asp-route-id="@item.Id" class="count-btn decrement "><i class="fas fa-chevron-down mt-2"></i></a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <input class="" type="number" min="0" max="0" step="1" value="0" readonly>
                                                        <div class="button-group">
                                                            <a class="count-btn increment "><i class="fas fa-chevron-up mt-2"></i></a>
                                                            <a class="count-btn decrement "><i class="fas fa-chevron-down mt-2"></i></a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span class="shop-order-price">
                                                @Model.CartItems.Where(p => p.Id == item.Id).Sum(t => t.Quantity * t.Price).ToString("C2")
                                            </span>
                                        </td>

                                        <td class="text-center">
                                            <a asp-controller="Shop" asp-action="RemoveBadgeAjax" asp-route-id="@item.Id" data-id="@item.Id" class="cart-trash"> <span class="trash"><i class="fas fa-trash-alt"></i> </span></a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
                @if (Model.CartItems.Count()>0)
                {
            <a asp-controller="Account" asp-action="chekout" class="btn third-btn btn-theme2 text-uppercase  flex-end-button">buy now</a>
                }
            </div>
        </div>
    </section>
    @*shop-order end*@
    @*common banner news-letter end*@
    <partial name="_newsletters" model="@Model.Subscriber" />
    @*common banner news-letter end*@
</main>
