@model BlogGridViewModel
<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs" model="@Model.Breadcrumb"/>
    <!-- breadcrumb-section end -->
    <!-- blog-grid-section start -->
    <section class="blog-section  wrapper-top">
        <div class="container grid-wraper ">
            <div class="row">
                <div class="col-12">
                    <div class="blog-title ">
                        <h2 class="title">From Our Blog </h2>
                        <p class="text">The latest news, videos, and discussion topics</p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Blogs)
                {
                <div class="col-12 col-sm-6  col-md-6 col-lg-4 col-xl-4 mb-30">
                    <div class="blog-card cart-design">
                        <div class="blog-card__image zoom-in overflow-hidden">
                            <img src="/Assets/img/@item.Photo">
                        </div>
                        <div class="blog-card__title">
                            <p> @item.Name </p>
                        </div>
                        <h5 class="sub-title text-capitalize">
                            Posted by
                            <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                                @item.Author
                            </a> @item.Date.Date.ToString("MMM, dd yyyy")
                        <a class="blog-link theme-color d-inline-block mx-1" href="https://themeforest.net/user/hastech" tabindex="0">
                            @item.Subject
                        </a>
                        </h5>
                        <p class="text-design">
                            @item.Text
                        </p>
                        <a class="btn primary-btn btn-theme1 text-capitalize design" href="single-blog.html" tabindex="0">Read More</a>
                    </div>
                </div>
                }
                
            </div>
        </div>
    </section>
    <!-- blog-grid-section end -->
    <!-- common banner news-letter end -->
    <partial name="_newsletters" model="@Model.Subscriber"/>
    <!-- common banner news-letter end -->
</main>