@model BlogSingleViewModel
<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs" model="@Model.Breadcrumb" />
    <!-- breadcrumb-section end -->
    <section class="blog-section top-margin">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="grid-wraper">
                        <div class="row">
                            <div class="col-12">
                                <div class="blog-title">
                                    <h2 class="title">From Our Blog</h2>
                                    <p class="text">The latest news, videos, and discussion topics</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-blog text-left">
                                    <a class="blog-thumb zoom-in d-block overflow-hidden" href="blog-grid-left-sidebar.html">
                                        <img class="object-fit-none" src="~/uploads/@Model.SingleBlog.Photo" alt="blog-thumb-naile">
                                    </a>
                                    <div class="blog-post-content">
                                        <h3 class="title mb-15">
                                            <a href="single-blog.html">@Model.SingleBlog.Name</a>
                                        </h3>
                                        <h5 class="sub-title font-style-normal">
                                            Posted by
                                            <a class="blog-link" href="https://themeforest.net/user/hastech">@Model.SingleBlog.Author</a>
                                            <span class="separator">/</span> @Model.SingleBlog.Date.ToString("MMM, dd yyyy")
                                            <span class="separator">/</span>
                                            <a class="blog-link" href="https://themeforest.net/user/hastech">@Model.SingleBlog.Theme</a>
                                        </h5>
                                        <p class="text">
                                            @Model.SingleBlog.Text
                                        </p>
                                    </div>
                                </div>
                                <!-- comment-section start -->
                                <div class="comment-section">
                                    <a class="btn third-btn btn-theme2 title text-white show-background"></a>
                                    <div class="comment-list content-area">

                                        @foreach (var item in Model.SingleBlog.Comments)
                                        {
                                            <img class="avatar" src="~/Assets/img/@item.Photo" alt="avatar">
                                            <h4 class="sub-title">@item.Fullname</h4>
                                            <span>@item.AddedDate.ToString("MMM, dd yyyy") </span>
                                            <button class="reply">Reply</button>
                                            <p>
                                                @item.Message
                                            </p>
                                        }

                                    </div>
                                </div>
                                <!-- comment-section start -->
                                <!-- contact-form start -->
                                <div class="contact-form">
                                    <h3 class="title">Leave a Reply</h3>
                                    <form id="blog-comment">
                                        <div class="form-group">
                                            <label asp-for="@Model.Comment.Fullname" class="control-label"></label>
                                            <input asp-for="@Model.Comment.Fullname" class="form-control" />
                                            <span asp-validation-for="@Model.Comment.Fullname" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.Comment.Email" class="control-label"></label>
                                            <input asp-for="@Model.Comment.Email" class="form-control" />
                                            <span asp-validation-for="@Model.Comment.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.Comment.Website" class="control-label"></label>
                                            <input asp-for="@Model.Comment.Website" class="form-control" />
                                            <span asp-validation-for="@Model.Comment.Website" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.Comment.Subject" class="control-label"></label>
                                            <input asp-for="@Model.Comment.Subject" class="form-control" />
                                            <span asp-validation-for="@Model.Comment.Subject" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.Comment.Message">Message</label>
                                            <textarea class="form-control" asp-for="@Model.Comment.Message"></textarea>
                                        </div>
                                        <button type="submit" class="btn third-btn btn-theme2">
                                            Submit Button
                                        </button>
                                    </form>
                                </div>
                                <!-- contact-form start -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- common banner news-letter start -->
    <partial name="_newsletters" model="@Model.Subscriber" />
    <!-- common banner news-letter end -->
</main>
@section Javascript{
    <script src="~/Assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Assets/jquery-validation/dist/additional-methods.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $(".show-background").click(function () {
                    $(".content-area").animate({ opacity: 'toggle' }, 'slow');
                });

                var text = $('.show-background').text();
                $('.show-background').text(
                    text == "All comments" ? "Comments" : "Comments");
            });
        });

        $(document).ready(function () {
            $('#blog-comment').submit(function (e) {
                e.preventDefault();

                let formData = {
                    fullname: $(this).find("input[name='Comment.Fullname']").val(),
                    email: $(this).find("input[name='Comment.Email']").val(),
                    website: $(this).find("input[name='Comment.Website']").val(),
                    subject: $(this).find("input[name='Comment.Subject']").val(),
                    message: $(this).find("textarea[name='Comment.Message']").val(),
                    blogId: window.location.pathname.split('/').pop()
                };
                $.ajax({
                    url: "/Blog/BlogComment",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (res) {
                    },
                    error: function (err) {
                        if (err.status === 404) {
                            swal("Notice!", err.responseJSON.message);
                        }
                        else if (err.status === 400) {
                            swal("Notice!", err.responseJSON.message);
                        }
                        else if (err.status === 500) {
                            Swal.fire({
                                icon: 'error',
                                title: 'ERROR',
                                text: 'Some of inputs is empty',
                                footer: 'Please enter information correctly!',

                            })
                        }
                    },
                    complete: function (status) {
                        if (status.status === 200) {
                            Swal.fire({
                                position: 'top-center',
                                icon: 'success',
                                title: status.responseJSON.message,
                                showConfirmButton: false,
                                timer: 3500
                            });
                            $("#blog-comment").trigger("reset");
                            window.location();
                        }

                    }
                });
            });
        });
    </script>

}