@model BlogSingleViewModel
<main>
    <!-- breadcrumb-section start -->
    <partial name="_breadcrumbs" model="@Model.Breadcrumb" />
    <!-- breadcrumb-section end -->
    <section class="blog-section top-margin">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="grid-wraper">
                        <div class="row">
                            <div class="col-12">
                                <div class="blog-title">
                                    <h2 class="title">From Our Blog</h2>
                                    <p class="text">The latest news, videos, and discussion topics</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-blog text-left">
                                    <a class="blog-thumb zoom-in d-block overflow-hidden" href="blog-grid-left-sidebar.html">
                                        <img class="object-fit-none" src="~/Assets/img/@Model.SingleBlog.Photo" alt="blog-thumb-naile">
                                    </a>
                                    <div class="blog-post-content">
                                        <h3 class="title mb-15">
                                            <a href="single-blog.html">@Model.SingleBlog.Name</a>
                                        </h3>
                                        <h5 class="sub-title font-style-normal">
                                            Posted by
                                            <a class="blog-link" href="https://themeforest.net/user/hastech">@Model.SingleBlog.Author</a>
                                            <span class="separator">/</span> @Model.SingleBlog.Date.ToString("MMM, dd yyyy")
                                            <span class="separator">/</span>
                                            <a class="blog-link" href="https://themeforest.net/user/hastech">@Model.SingleBlog.Theme</a>
                                        </h5>
                                        <p class="text">
                                            @Model.SingleBlog.Text
                                        </p>
                                    </div>
                                </div>
                                <!-- comment-section start -->
                                <div class="comment-section">
                                    <a class="btn third-btn btn-theme2 title text-white show-background"></a>
                                    <div class="comment-list content-area">

                                        @foreach (var item in Model.SingleBlog.Comments)
                                        {
                                            <img class="avatar" src="~/Assets/img/@item.Photo" alt="avatar">
                                            <h4 class="sub-title">@item.Fullname</h4>
                                            <span>@item.AddedDate.ToString("MMM, dd yyyy") </span>
                                            <button class="reply">Reply</button>
                                            <p>
                                                @item.Message
                                            </p>
                                        }

                                    </div>
                                </div>
                                <!-- comment-section start -->
                                <!-- contact-form start -->
                                <div class="contact-form">
                                    <h3 class="title">Leave a Reply</h3>
                                    <form>
                                        <div class="form-group">
                                            <label for="name">your name</label>
                                            <input type="text" class="form-control" id="name" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Your Email:</label>
                                            <input type="email" class="form-control" id="email" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="url">Website Url:</label>
                                            <input type="text" class="form-control" id="url" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="subject">Subject:</label>
                                            <input type="text" class="form-control" id="subject" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Comment:</label>
                                            <textarea class="form-control mb-30" id="comment" required=""></textarea>
                                        </div>
                                        <button type="submit" class="btn third-btn btn-theme2">
                                            Submit Button
                                        </button>
                                    </form>
                                </div>
                                <!-- contact-form start -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- common banner news-letter start -->
    <partial name="_newsletters" model="@Model.Subscriber" />
    <!-- common banner news-letter end -->
</main>
@section Javascript{

    <script>
        $(document).ready(function () {
            $(function () {
                $(".show-background").click(function () {
                    $(".content-area").animate({ opacity: 'toggle' }, 'slow');
                });

                var text = $('.show-background').text();
                $('.show-background').text(
                    text == "All comments" ? "Comments" : "Comments");
            });
        });
    </script>

}