@model IEnumerable<Product>
@foreach (var item in Model)
{
    <figure class="prod-box">
        <div class="img-holder position-relative">
            @if (item.IsNew)
            {
                <span class="badge badge-dangers ">New</span>
            }
            else
            {
                <span class="badge badge-darks ">-@item.Discount%</span>
            }
            <a asp-controller="Product"  asp-action="productSingle" asp-route-id="@item.Id">
                <img src="/Assets/img/@item.ProductPhotos.ElementAt(2).Photo" class="item-img-1 img-fluid" alt="Something">
                <img src="/Assets/img/@item.ProductPhotos.ElementAt(3).Photo" class="item-img-2 img-fluid" alt="Something2">
            </a>
            <div class="blok-hover">
                <div class="product-links d-flex d-flex justify-content-between align-items-center">
                    <p class="text-uppercase"><a class="addToCart addToNavCart" asp-controller="Shop" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id"> Add to card</a> </p>
                    <ul class="d-flex justify-content-center">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#quick-view" tabindex="0">
                                <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-search" data-original-title="Quick view"></span>
                            </a>
                        </li>
                        <li>
                            <a class="addCompare" asp-controller="Product" asp-action="AddToCompare" asp-route-id="@item.Id" data-id="@item.Id" tabindex="0">
                                <span data-toggle="tooltip" data-placement="bottom" title="" class="fas fa-random" data-original-title="Add to compare"></span>
                            </a>
                        </li>
                        <li>
                            <a class="addToWish addToNavWish" asp-controller="Shop" asp-action="AddToWish" asp-route-id="@item.Id" data-id="@item.Id" tabindex="0">
                                <span data-toggle="tooltip" data-placement="bottom" title="" class="far fa-heart" data-original-title="add to wishlist"> </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="anons">
            <div class="star-rating">
                @for (int i = 0; i < item.Star; i++)
                {
                    <i class="fas fa-star"></i>
                }
            </div>
            <a class="info" href="shop-grid-4-column.html">
                @item.Name
            </a>
            <h5 class="product-price">
                @if (item.IsNew)
                {
                    <span class="onsale">$@item.Stock.Price</span>
                }
                else
                {
                    double disc = Convert.ToDouble(@item.Stock.Price) + (Convert.ToDouble(@item.Stock.Price) * Convert.ToDouble(@item.Discount)) / 100;
                    <del class="del"> $@disc.ToString("#.##")</del>
                    <span class="onsale">$@item.Stock.Price</span>

                }
            </h5>
        </div>
    </figure>
}

