@model IEnumerable<Chekout>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-light bg-light mt-1">
    <a class="ml-5 navbar-brand">
        <img src="~/Assets/img/logo-dark.jpg" width="110" height="25" class="d-inline-block align-top" alt="">
        Chekouts
    </a>
</nav>
<main class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ChekoutNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentMethod)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Agreement)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipping)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Message)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChekoutTotalAmount)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChekoutNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Agreement)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipping)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Message)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChekoutTotalAmount)
                                </td>
                                <td class="d-flex justify-content-around">
                                    <span class="ml-4"><a class="my-remove-item btn btn-outline-danger btn-circle" asp-area="manager" asp-controller="Chekouts" asp-action="Delete" asp-route-id="@item.Id" data-id="@item.Id"><i class=" fas fa-trash"></i></a></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/sweetalert.min.js"></script>
    <script>

                $(document).on('click', 'a.my-remove-item', function (e) {
                    e.preventDefault();
                    let id = $(this).data("id");
                    swal({
                        title: "Are you sure?",
                        text: "Once deleted, you will not be able to recover this imaginary file!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((g) => {
                            if (g) {
                                swal("Poof! Your imaginary file has been deleted!", {
                                    icon: "success",
                                });
                                $.post('/Manager/Chekouts/Delete/' + id, {}, function (data) {
                                    $("body").html(data);
                                });
                            } else {
                                swal("Your file is safe!");
                            }
                        });

                });
    </script>

}